<ion-view title="Account" id="page3" style="background-color:#F5F5F5;" class=" " on-swipe-right="onSwipeRight()">
    <ion-content padding="true" class="has-header">

        <div class="row">
            <div class="col col-46" ui-sref="tabsController.profile">
                <div class="list menu-app">
                    <a class="item item-thumbnail" >
                        <img class="menu-app-icon-list" src="img/jc2oVOA5QiWIftSSSOEn_1466942454_personal.png">
                        <h2>Profile</h2>
                    </a>
                </div>
            </div>
            <div class="col-8"></div>
            <div class="col col-46" ui-sref="tabsController.about">
                <div class="list menu-app">
                    <a class="item item-thumbnail" >
                        <img class="menu-app-icon-list" src="img/rkuWGZY7T3u6Wbe7LReD_1466942582_Information.png">
                        <h2>About</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-46" ui-sref="tabsController.help">
                <div class="list menu-app">
                    <a class="item item-thumbnail">
                        <img class="menu-app-icon-list" src="img/RbP8WLupT9OtwX2fYeie_1466508224_gnome-help.png">
                        <h2>Help</h2>
                    </a>
                </div>
            </div>
            <div class="col-8"></div>
            <div class="col col-46" ui-sref="tabsController.settings">
                <div class="list menu-app">
                    <a class="item item-thumbnail" >
                        <img class="menu-app-icon-list" src="img/XdRXJpBxRhiWYwOfpXAR_1466942509_advancedsettings.png">
                        <h2>Settings</h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">


            <div class="col col-46" ui-sref="tabsController.updateManager">
                <div class="list menu-app">
                    <a class="item item-thumbnail" >
                        <img class="menu-app-icon-list" src="img/update_manager.png">
                        <h2>Update Manager</h2>
                    </a>
                </div>
            </div>
            <div class="col-8"></div>
            <div class="col col-46" ng-click="onClickLogOutButton()">
                <div class="list menu-app">
                    <a class="item item-thumbnail" >
                        <img class="menu-app-icon-list" src="img/function-log-out.png">
                        <h2>Log Out</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="spacer" style="height: 10px;"></div>

    </ion-content>
</ion-view>