<ion-view title="Apps" id="page2" style="background-color:#F5F5F5;" class=" " on-swipe-left="onSwipeLeft()">
    <ion-content padding="true" class="has-header">

        <div class="row">
            <div class="col col-46" ui-sref="tabsController.dataEntry">
                <div class="list menu-app">
                    <a class="item item-thumbnail" >
                        <img class="menu-app-icon-list" src="img/WzZMtxyeS5mMneuc0tr2_icon_paper.png">
                        <h2 >Data Entry</h2>
                    </a>
                </div>
            </div>
            <div class="col-8"></div>
            <div class="col col-46" ui-sref="tabsController.reportList">
                <div class="list menu-app">
                    <a class="item item-thumbnail" >
                        <img class="menu-app-icon-list" src="img/gPQ8wCYpRVijoWeyi9qk_1466508234_custom-reports.png">
                        <h2>Reports</h2>
                    </a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col col-46" ui-sref="tabsController.trackerCapture">
                <div class="list menu-app">
                    <a class="item item-thumbnail" >
                        <img class="menu-app-icon-list" src="img/xIPMT3HRSOuDhniww5k6_1466942763_data.png">
                        <h2>Tracker Capture</h2>
                    </a>
                </div>
            </div>
            <div class="col-8"></div>
            <div class="col col-46"ui-sref="tabsController.eventCapture">
                <div class="list menu-app">
                    <a class="item item-thumbnail" >
                        <img class="menu-app-icon-list" src="img/eU96pob2Tv2gRV7mTOiN_events-icon.png">
                        <h2>Event Capture</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-46" ui-sref="tabsController.dashBoard">
                <div class="list menu-app">
                    <a class="item item-thumbnail">
                        <img class="menu-app-icon-list" src="img/WMFE3v1DQ2WDiAyJdCVo_1466508105_Dashboard.png">
                        <h2>Dashboard</h2>
                    </a>
                </div>
            </div>
            <div class="col-8"></div>
            <div class="col col-46">
                <!--<div class="list menu-app">-->
                    <!--<a class="item item-thumbnail" href="#">-->
                        <!--<img class="menu-app-icon-list" src="img/.png">-->
                        <!--<h2></h2>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>
        <div class="spacer" style="height: 10px;"></div>
    </ion-content>
</ion-view>