<ion-view title="Event Capture" id="page14" style="background-color:#F5F5F5;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="dashBoard-card23">
            <div class=" item item-image">
                <img src="img/XdOLV5KhRhmRSep2LZ5T_comingsoon.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
        <!--<div class="item item-body " id="eventCapture-list-item-container8">-->

            <!--<div class="row" ng-click="organisationUnitsModal.show()" style="padding-top: 1%;">-->
                <!--<div class="col col-100">-->
                    <!--<p ng-if ="data.selectedOrganisationUnit.id">-->
                        <!--{{ data.selectedOrganisationUnit.name }}-->
                    <!--</p>-->
                    <!--<p ng-if ="!data.selectedOrganisationUnit.id">-->
                        <!--Touch to select Organisation Unit-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<p id="eventCapture-markdown12" style="color:#000000;font-size:19px;" class=" ">Tree selection to come</p>-->
            <!--<div class="spacer" style="width: 267.333px; height: 13px;"></div>-->
            <!--<p id="eventCapture-markdown20" style="color:#000000;font-size:19px;text-align:center;" class=" ">Program selection</p>-->
            <!--<a ui-sref="tabsController.eventRegister" id="eventCapture-button11" class=" button button-positive  button-block button-outline ">Register Event</a>-->
        <!--</div>-->
        <!--<div class="spacer" style="width: 300px; height: 27px;"></div>-->
        <!--<div class="item item-body " id="eventCapture-list-item-container15">-->
            <!--<p id="eventCapture-markdown24" style="margin-top:0px;color:#000000;font-size:16px;text-align:center;" class=" ">Event List to come</p>-->
        <!--</div>-->

        <!--<div class="item item-body " ng-if = "data.isLoadingData" style="text-align: center;font-size: 14px;">-->
            <!--<three-bounce-spinner></three-bounce-spinner>-->
        <!--</div>-->

    </ion-content>
</ion-view>