<ion-view title="Event Register" id="page18" style="background-color:#F5F5F5;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="eventRegister-list-item-container16">
            <p id="eventRegister-markdown25" style="margin-top:0px;color:#000000;" class=" ">Event register form fields</p>
            <div id="eventRegister-button-bar3" class=" button-bar ">
                <a ui-sref="tabsController.eventCapture" id="eventRegister-button15" class=" button button-positive  button-block ">Save</a>
                <a ui-sref="tabsController.eventCapture" id="eventRegister-button16" style="border-radius:5px 5px 5px 5px;" class=" button button-positive  button-block button-outline ">Cancel</a>
            </div>
        </div>
    </ion-content>
</ion-view>