<ion-view title="Help Details" id="page19" style="background-color:#F5F5F5;" class=" ">
    <ion-content padding="true" class="has-header">
        <!--<ion-list id="helpDetails-list30" class=" ">-->
            <!--<ion-item class="item-divider " id="helpDetails-list-item-divider9">Data Entry Help</ion-item>-->
        <!--</ion-list>-->
        <!--<div class="item item-body " id="helpDetails-list-item-container28">-->
            <!--<p id="helpDetails-markdown44" style="margin-top:0px;color:#000000;" class=" ">The data entry module is where data is manually registered in the DHIS 2 database. Data is registered for an organisation unit, a period, and a set of data elements (data set) at a time. A data set often corresponds to a paper-based data collection-->
                <!--tool</p>-->
        <!--</div>-->
        <div class="list card " >
            <div class=" item item-image">
                <img src="img/O8ebUUOCT3W6JLRpulDC_comingsoon.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
        </div>
    </ion-content>
</ion-view>