<ion-view title="Help" id="page5" style="background-color:#F5F5F5;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="help-list27" class=" ">
            <ion-item class="item-divider " id="help-list-item-divider8">Offline Help Desk</ion-item>
            <ion-item class="item-icon-right  " id="help-list-item27" ui-sref="tabsController.helpDetails">Data Entry
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="help-list-item31" ui-sref="tabsController.helpDetails">Reports
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="help-list-item32" ui-sref="tabsController.helpDetails">Event Capture
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="help-list-item35" ui-sref="tabsController.helpDetails">Tracker Capture
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="help-list-item34" ui-sref="tabsController.helpDetails">DashBoard
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="help-list-item37" ui-sref="tabsController.helpDetails">Settings
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>