<ion-view title="Settings" id="page10" style="background-color:#F5F5F5;" class=" ">
    <ion-content padding="true" class="has-header">

        <ion-list id="settings-list32" class=" ">
            <ion-item class="item-divider " id="settings-list-item-divider11">App Settings</ion-item>
            <ion-item class="item-icon-right  " id="settings-list-item38" ng-click="directToSettingDetails('synchronization')">Synchronization
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="settings-list-item39" ng-click="directToSettingDetails('entryForm')">Form
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <!--<ion-item class="item-icon-right  " id="settings-list-item40" ng-click="directToSettingDetails('dataReset')">Data Reset-->
                <!--<i class="icon ion-ios-arrow-right"></i>-->
            <!--</ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>