<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h2 class="title">Program Selection</h2>
        <div class="buttons">
            <button class="button button-clear" ng-click="trackerProgramModal.hide()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col col-100">
                <label class="item item-input">
                    <i class="icon ion-ios-search-strong placeholder-icon"></i>
                    <input ng-model="search" type="search" placeholder="Search Program">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col col-100">
                <ion-list>
                    <ion-item ng-repeat="assignedProgram in data.assignedPrograms|filter: {name  :search}" ng-click="setSelectedProgram(assignedProgram)">
                        {{ assignedProgram.name }}
                    </ion-item>
                    <ion-item ng-if = "data.assignedPrograms.length == 0">
                        There is no Programs to select
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-modal-view>